

<!-- <input (keyup)="setBuscar($event)" type="text" placeholder="Titulo..."> -->
<!-- <form (submit)="filtrar($event)">
  <input name="buscar" (keypress)="detenerSubmit($event)" [(ngModel)]="buscar" type="text" placeholder="Titulo...">
  <button>Buscar</button>
</form>


<ul class="nombre_clase">
  <li *ngFor="let pelicula of filteredMovies">{{pelicula.title}}</li>
</ul> -->

<app-header></app-header>

<div class="content">
  <h1 *ngIf="nombre">Hola {{nombre}}</h1>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>